.button__regular,
.button__submit {
  width: 12rem;
  height: 4rem;
  margin: 3rem auto 0;
  font-family: $ff-h;
  font-size: $fs-p;
  color: $clr-text;
  background-color: $clr-contrast;
  border: none;
  border-radius: 0.625rem;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out;

  @include rwd(mq-t) {
    width: 14rem;
    height: 5rem;
    margin: 6rem auto 0;
  }

  @include rwd(mq-lt) {
    width: 12rem;
    height: 4rem;
    margin: 6rem 0 0;
    &:hover {
      cursor: pointer;
      background-color: transparent;
      border: 5px solid $clr-contrast;
    }
  }
}


.button__submit {
  margin: 0 auto 1rem;
  
  @include rwd(mq-t) {
    margin:  1rem auto;
  }

  @include rwd(mq-lt) {
    margin: 0;
  }
}
