.hr__seperator {
  width: 100%;
  height: 0.25rem;
  background-color: $clr-text;
  &:not(:first-child) {
    margin-top: 5rem;
  }

  @include rwd(mq-lt) {
    display: none;
  }
}

.button__regular,
.button__submit {
  margin: 3rem auto 0;
  padding: 1rem 2rem;
  // font-family: $ff-h;
  font-size: $fs-p;
  color: $clr-text;
  background-color: $clr-contrast;
  border: none;
  border-radius: 0.625rem;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out;

  @include rwd(mq-t) {
    margin: 6rem auto 0;
  }

  @include rwd(mq-lt) {
    margin: 6rem 0 0;
    &:hover {
      cursor: pointer;
      background-color: transparent;
      box-shadow: 0 0 1px 5px $clr-contrast;
    }
  }
}

.button__submit {
  margin: 0 auto 1rem;

  @include rwd(mq-t) {
    margin: 1rem auto;
  }

  @include rwd(mq-lt) {
    margin: 2rem 0 4rem;
  }
}

[data-tooltip] {
  cursor: pointer;
  position: relative;
}

[data-tooltip]::after {
  background-color: $clr-contrast;
  color: $clr-text;
  font-size: calc(var(--fs-h2) - var(--fs-p));
  padding: 0.6rem 1.2rem;
  height: fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  content: attr(data-tooltip);
  transform: translate(-50%, 110%) scale(0);
  transform-origin: top;
  transition: 200ms;
  box-shadow: 0 0.3rem 0.9rem 0 rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.05);
}
[data-tooltip]:hover:after {
  display: block;
  transform: translate(-50%, 140%) scale(1);
}

.socialmedia {
  @include flex;
  flex-wrap: wrap;
  gap: 2rem 3rem;

  @include rwd(mq-t) {
    gap: 3rem 4.5rem;
    justify-content: flex-start;
  }
}

.socialmedia__link {
  @include flex($flex-direction: column);
  & .socialmedia__icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  @include rwd(mq-t) {
    & .socialmedia__icon {
      width: 5.5rem;
      height: 5.5rem;
    }
  }

  @include rwd(mq-lt) {
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
    &:hover {
      transform: translate(-5%, -10%) scale(1.1);
      border-radius: 1rem;
      box-shadow: 1rem 2rem 2rem 0.05rem $clr-third;
    }
    & .socialmedia__icon {
      width: 4rem;
      height: 4rem;
    }
    & p {
      display: none;
    }
  }
}
