.page__info--h2 {
  margin-top: 1rem;
}
.page__info--h3 {
  margin-top: 4rem;
}

.button__container {
  width: 100%;
  margin: 0 0 5vh; 

  @include rwd(mq-t) {
    margin: 0;
  }

  &--box {
    overflow: hidden;
     
    @include rwd(mq-lt) {
      transform: translateX(-1rem);
      padding: 0 1rem;
    }
  }
}

.anima__box--h1 {
  position: relative;
  overflow: hidden;
}

.content__article {
  width: 100%;
  margin-bottom: 3rem;
  padding: 2.3rem $button-position;
  background: rgba(7, 8, 8, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.8px);
  -webkit-backdrop-filter: blur(17.8px);
  overflow: hidden;

  @include rwd(mq-t) {
  padding: 4rem $button-position 2rem;

  }

@include rwd(mq-lt) {
    padding: 4rem $button-position 2rem;
  }
}

.list__standard {
  margin-bottom: 2rem;
  padding: 0 1rem;
  font-size: $fs-p;
  line-height: 1.5;
}


.tool__container {
  @include flex($justify-content: space-evenly);
  gap: 2rem;
  height: calc(#{$button-size} + 3.5rem);
  & .tool__container--logo {
    @include flex($flex-direction: column);
    gap: 0.3rem;
  }
  & .logo__icon {
    width: $button-size;
  }

  @include rwd(mq-t) {
    justify-content: flex-start;
    margin: 2.5rem 0 5rem;
    & .logo__icon {
    width: calc(#{$button-size} - 1rem);
  }
  }
}