body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: darkblue url("../../../public/img/TB_bg.svg") center / cover
    no-repeat;
  // overflow: hidden;
}

main {
  @include grid($columns: 1fr, $padding: 2rem);
  place-items: center;
  position: relative;
  width: 100vw;
  // min-height: 100vh;
  
  // padding: 1.5rem 1.5rem 0;

  @include rwd(mq-t) {
    padding: 0 3rem;
  }

  @include rwd(mq-lt) {
    @include grid($columns: 40% 60%, $padding: 2rem);
    margin-top: 0;
    padding: 0 6rem;
    // background-color: red;
  }
}
