body {
    // position: relative; 
    width: 100vw;
    min-height: 100vh;
    background: darkblue url("../../../public/img/TB_bg.svg") center / cover no-repeat;
    // overflow: hidden;
}

header { 
    display: none;
    position: relative;
    // @include flex($justify-content: space-between);
    // width: 100%;

    // height: 5em;
    // padding: 1rem;
    // z-index: 99;
    background-color: red;
}

main { 
    display: none;
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 5em;
    background-color: green;
}