

.menu__switch {
  display: none;
}

.brand {
  position: absolute;
  top: $button-position;
  left: $button-position;
  & .brand__img {
    width: $button-size;
    height: $button-size;
  }
  & .brand__name {
    display: none;
  }

  @include rwd(mq-lt) {
    position: relative;
    top: 0;
    left: 0;
    @include flex;
    gap: 1.5rem;
    padding: 1rem 0;
    & .brand__img {
      width: 4rem;
      height: 4rem;
    }

    & .brand__name {
      position: relative;
      display: block;
      padding: 0.1rem 0;
      overflow: hidden;
    }
  }
}

.menu__button {
  position: fixed;
  top: $button-position;
  right: $button-position;
  width: $button-size;
  height: $button-size;
  background: $clr-prime linear-gradient(to right top, #8042fe, #4f3af4);
  border-radius: 0.6rem;
  z-index: 99;

  & .menu__button--line1,
  .menu__button--line2,
  .menu__button--line3 {
    position: relative;
    top: 1rem;
    left: 0.7rem;
    width: 58%;
    height: 3px;
    background-color: $clr-white;
    @include transition;
  }
  & .menu__button--line2 {
    top: 1.5rem;
  }
  & .menu__button--line3 {
    top: 2rem;
  }
  @include rwd(mq-t) {
    & .menu__button--line1,
    .menu__button--line2,
    .menu__button--line3 {
      position: relative;
      top: 1.5rem;
      left: 0.9rem;
      width: 65%;
      height: 5px;
    }
    & .menu__button--line2 {
      top: 2.25rem;
    }
    & .menu__button--line3 {
      top: 3rem;
    }
  }

  @include rwd(mq-lt) {
    display: none;
  }
}

.menu__container {
  position: relative;
  inset: 0;

  @include flex(
    $flex-direction: column,
    $justify-content: center,
    $align-items: flex-end
  );
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @include rwd(mq-lt) {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 90;
  }
}

.menu__bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  background-color: #8042fe;
  transform: translateX(100%);
  @include transition($property: transform, $timing-function: ease-in-out);
  z-index: 95;
  & .menu__bar--list {
    height: 100%;
    @include flex($flex-direction: column, $justify-content: space-evenly);
  }
  & .menu__bar--item {
    width: 100%;
  }
  & .menu__bar--link {
    display: block;
    padding: 1rem;
    font-family: cerabold;
    font-size: 3.5rem;
    text-align: center;
  }

  @include rwd(mq-t) {
    & .menu__bar--link {
      font-size: 6rem;
    }
  }

  @include rwd(mq-lt) {
    position: relative;
    @include flex($justify-content: space-between);
    flex-wrap: wrap;
    gap: 0 3rem;
    padding: 0;
    transform: translate(0);
    background-color: transparent;
    & .menu__bar--list {
      @include flex(
        $flex-direction: row,
        $justify-content: center,
        $align-items: center
      );
      gap: 3rem;
      & .menu__bar--item {
        width: auto;
      }
    }
    .menu__bar--link {
        position: relative;
        width: 100%;
        padding: 0.2rem 0;
        font-family: cera;
        font-size: $fs-p;
        overflow: hidden;
      }
  }
}

.menu__bar--line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 0.1rem;
  background-color: $clr-white;
  transform: translateX(-110%);
  @include transition($duration: 200ms);

  @include rwd(mq-lt) {
    display: block;
  }
}

.brand:hover .menu__bar--line {
  transform: translateX(0);
}

.menu__bar--link:hover .menu__bar--line {
  transform: translateX(0);
}

.menu__switch:checked ~ .menu__container .menu__bar {
  transform: translateX(0);
}

.menu__switch:checked + label .menu__button {
  & .menu__button--line1 {
    transform: rotate(315deg) translate(-20%, 300%);
  }
  & .menu__button--line2 {
    transform: translateX(300%);
  }
  & .menu__button--line3 {
    transform: rotate(-315deg) translate(-20%, -300%);
  }
  @include rwd(mq-t) {
    & .menu__button--line1 {
      transform: rotate(315deg) translate(-15%, 300%);
    }
    & .menu__button--line3 {
      transform: rotate(-315deg) translate(-15%, -300%);
    }
  }
}

.menu__link--active .menu__bar--line {
  transform: translateX(0);
}