aside .slidr-control {
  width: $button-size !important;
  height: $button-size !important;
  top: 90% !important;
  margin-top: -4rem !important;
  right: $button-position !important;
  border-radius: $button-radius;
  background: $clr-contrast;
  opacity: 0.6;
  background-color: rgba(255, 0, 0, 0.24);
}

aside[id*="-control"].border {
  height: 10%;
  // background-color: green  !important;
  // bottom: 0  !important;
  // margin-bottom: 3rem;
}

aside .slidr-control.left {
  left: $button-position !important;
}

aside .slidr-control.down,
aside .slidr-control.up {
  display: none;
}

aside .slidr-control:hover {
  opacity: 1;
}

aside .slidr-control.right:after {
  @include rwd(mq-t) {
    top: 2rem !important;
    right: -0.5rem !important;
    border-width: 1.2rem 2rem !important;
  }
}

aside .slidr-control.left:after {
  @include rwd(mq-t) {
    top: 2rem !important;
    left: -0.5rem !important;
    border-width: 1.2rem 2rem !important;
  }
}

aside .slidr-breadcrumbs {
  margin: 0 1rem 1.5rem !important;

  @include rwd(mq-t) {
    margin: 0 2rem 1.5rem !important;
  }
}

aside .slidr-breadcrumbs li.active {
  border-color: $clr-white !important;
}
