.page__content--contact {
  @include rwd(mq-lt) {
    padding-left: 2rem;
  }
} 


.contact__impressum--address {
  width: 17rem;

  @include rwd(mq-t) {
    width: 20rem;
  }
}

.content__article--privacy {

  & p,
  a,
  h4 {
    margin-top: 1rem;
    font-size: $fs-s;
  }

  & a {
    font-size: 0.8rem;
  }

  @include rwd(mq-lt) {
    & a {
      font-size: 1.2rem;
    }
  }
}

