.page__info--contact {
  justify-content: flex-end;
  // background-color: darkgreen;
  }

  
.contact__impressum {
  width: 100%;
  padding: 5rem 0;
  border: 0 solid $clr-white;
  border-width: 1px 0 1px 0;

  @include rwd(mq-lt) {
    padding: 18rem 0 5rem;
    border-width: 0 0 1px 0;
  }
}

.contact__impressum--address {
  margin-top: 0.8rem;
  font-size: $fs-p;
  line-height: 1.5;
  font-style: normal;

  @include rwd(mq-t) {
    // font-size: $fs-p;
    font-family: $ff-h;
  }

  @include rwd(mq-lt) {
    font-family: $ff-p;
  }
}

.contact_privacy {
  // display: none;
  width: 100%;
  margin-top: 5rem;
  height: auto;

  & p,
  a,
  h4 {
    margin-top: 1rem;
    font-size: $fs-s;
  }

  & a {
    font-size: 0.8rem;
  }

  @include rwd(mq-lt) {
    & a {
      font-size: 1.2rem;
    }
  }
}

.keep__info {
width: 100%;
max-width: 50rem;
z-index: 1;

}

.keep__content {
width: 100%;
max-width: 50rem;
z-index: 2;
}