.page__content--contact {
  @include rwd(mq-lt) {
    padding-left: 2rem;
  }
} 


.contact__impressum--address {
  margin-top: 0.8rem;
  font-size: $fs-p;
  line-height: 1.5;
  font-style: normal;

  @include rwd(mq-lt) {
    font-family: $ff-p;
  }
}

.content__article--privacy {

  & p,
  a,
  h4 {
    margin-top: 1rem;
    font-size: $fs-s;
  }

  & a {
    font-size: 0.8rem;
  }

  @include rwd(mq-lt) {
    & a {
      font-size: 1.2rem;
    }
  }
}

.keep__info {
width: 100%;
max-width: 50rem;
z-index: 1;

}

.keep__content {
width: 100%;
max-width: 50rem;
z-index: 2;
}