.page__info--frontpage {
  & .page__info--name {
  font-family: $ff-h;
  font-size: $fs-h3;

  @include rwd(mq-lt) {
    display: none;
  }
}
}

.page__content--frontpage {
  & img {
    width: 20rem;
  }

  @include rwd(mq-lt) {
    & img {
      width: 30rem;
    }
  }
}




