.page__info--frontpage {
  @include rwd(mq-lt) {
    padding-top: 8rem;
  }
}

.page__content--frontpage {
    & img {
      width: 20rem;
    }
    
    @include rwd(mq-lt) {
        & img {
        width: 30rem;
        margin-top: 5rem;
        }
    }
}

 .page__info--name {
    font-family: $ff-h;
    font-size: $fs-h3;
  }