
.image__tim--vision {
    // display: none;
    // width: 100%;
    position: relative;
    left: -3rem;
    // width: 600px;
    height: 10rem;
    // max-width: 40rem;
    margin-top: 1rem;

    @include rwd(mq-t) {
        left: 0;
        width: 100%;
        height: auto;

    }
}