.slider__content {
    position: relative;
    width: 100%;
    overflow: hidden;
    & .slider__article {
        position: relative;
        @include flex($flex-direction: column);
        width: 100%;
        height: 100vh;
        // border: 1px solid white;
    }
}

.slider__section {
        position: relative;
        @include flex($flex-direction: column) ;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        // background-color: rgba(77, 77, 77, 0.74);
    }