// .slider__content {
//     position: relative;
//     width: 100%;
//     overflow: hidden;
//     & .slider__article {
//         position: relative;
//         @include flex($flex-direction: column);
//         width: 100%;
//         height: calc(100% - 8rem);
//         // border: 1px solid white;
//     }
// }

// .slider__section {
//         position: relative;
//         @include flex($flex-direction: column) ;
//         width: 100%;
//         height: 100%;
//         border: 1px solid black;
//         // background-color: rgba(77, 77, 77, 0.74);
//     }

.image__tim--vision {
    // display: none;
    position: relative;
    left: -3rem;
    // width: 600px;
    height: 10rem;
    // max-width: 40rem;
    margin-top: 1rem;

    @include rwd(mq-t) {
        left: 0;
        width: 100%;
        height: auto;

    }
}