.project__logo--box {
    width: 85%;
    aspect-ratio: 16/9;
    margin: 0 auto 2rem;
    // background-color: red;
}

.project__logo--img {
    width: 100%;
}

.project__link--explain {
    text-align: center;
    margin: 0;
}
.project__link {
    display: block;
    margin: 0 0 5rem;
    font-size: $fs-h3 !important;
    text-decoration: underline !important;
    text-underline-offset: .3rem;
    text-align: center;
    &:hover {
        text-shadow: 1px 1px 1px white;
    }
}

.project__image {
     width: 100%;
     height: auto;
     margin-bottom: 4rem;
}

// #DanceArtFestival {
//     background: hsla(54, 100%, 17%, 0.76);
// }
// #Nunocci {
//     background: hsla(26, 38%, 21%);
// }