.project__logo {
    width: 85%;
    margin: 0 auto;
}

.project__link--explain {
    text-align: center;
}
.project__link {
    display: block;
    margin: 1rem 0 5rem;
    font-size: $fs-h3 !important;
    text-decoration: underline !important;
    text-underline-offset: .3rem;
    text-align: center;
    &:hover {
        text-shadow: 1px 1px 1px white;
    }
}

.project__image {
     width: 100%;
     height: auto;
     margin-bottom: 4rem;
}

#DanceArtFestival {
    background: hsla(54, 100%, 17%, 0.76);
}
#Nunocci {
    background: hsla(26, 38%, 21%);
}