/* C O L O R S */
// CUSTOM PROPERTIES
:root {
  --clr-prime: #06396d;
  --clr-second: #4f3af4;
  --clr-third: rgb(4, 47, 90);
  --clr-contrast: #8042fe;
  --clr-text: #fff;

  --clr-white: #fff;
  --clr-light: #f2f2f2;
  --clr-dark: #1d1d1d;
  --clr-black: #000;
}

// SASS VARIABLES
$clr-prime: var(--clr-prime);
$clr-second: var(--clr-second);
$clr-third: var(--clr-third);
$clr-contrast: var(--clr-contrast);
$clr-text: var(--clr-white);

$clr-white: var(--clr-white);
$clr-light: var(--clr-light);
$clr-dark: var(--clr-dark);
$clr-black: var(--clr-black);
