/* FONTS */
@font-face {
  font-family: cera;
  src: local("cera"), local("cera"),
    url(../fonts/cerabasic-regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: cerabold;
  src: local("cerabold"), local("cerabold"),
    url(../fonts/cerabasic-bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: cerablack;
  src: local("cerablack"), local("cerablack"),
    url(../fonts/cerabasic-black.woff2) format("woff2");
  font-display: swap;
}

// CUSTOM PROPERTIES
:root {
  // font family
  --ff-p: cera, arial, sans-serif;
  --ff-display: cerablack, arial, sans-serif;
  --ff-h: cerabold, arial, sans-serif;

  // font size
  --fs-s: min(max(1rem, 3vw), 1.2rem);
  --fs-p: 1.5rem;
  --fs-display: min(max(3.2rem, 10vw), 5rem);
  --fs-h1: min(max(3rem, 7.5vw), 4.5rem);
  --fs-h2: min(max(1.8rem, 4.5vw), 2.8rem);
  --fs-h3: min(max(1.5rem, 3vw), 2rem);
  --fs-h4: min(max(1.2rem, 2vw), 1.5rem);
}
