/*  M I X I N S  */

// Grid
@mixin grid($columns, $rows: auto, $padding) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  padding: $padding;
}

// Flexbox
@mixin flex(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// Transition
@mixin transition(
  $property: all,
  $duration: 600ms,
  $timing-function: ease-in-out,
  $delay: 0ms,
  $transform-origin: center center
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
}
