/* T Y P O G R A P H Y */

// SASS VARIABLES
// font family
$ff-p: var(--ff-p);
$ff-display: var(--ff-display);
$ff-h: var(--ff-h);

// font size
$fs-s: var(--fs-s);
$fs-p: var(--fs-p);
$fs-display: var(--fs-display);
$fs-h1: var(--fs-h1);
$fs-h2: var(--fs-h2);
$fs-h3: var(--fs-h3);
$fs-h4: var(--fs-h4);

/*--------------------------------------------------------------*/

/*  GENERAL TEXT SETUP  */
html {
  font-family: $ff-p, sans-serif;
  font-size: 1rem;
  text-rendering: optimizeSpeed;
  color: #fff;
}

.display {
  display: block;
  margin:0 0 1rem;
}

h1,
h2,
h3 {
  font-family: var(--ff-h);
  text-transform: uppercase;
}

h4 {
  margin-bottom: 1rem;
}

h1 {  position: relative;
  font-size: var(--fs-h1);
  letter-spacing: 0.1rem;
  
  animation: h1-slide 750ms ease;
}
h1::after { 
  content: attr(data-name);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--fs-h1);
  letter-spacing: 0.1rem;
  background: linear-gradient(75deg, white, white);
  background-size: 15% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  background-position-x: -20%;
  filter: blur(.5rem);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineit 500ms 750ms ease-in-out;
}

@keyframes shineit{
  0% {
    background-position-x: -20%;
  }
  100% {
    background-position-x: 100%;
  }
}


h2 {
  font-size: var(--fs-h2);
  margin-bottom: 2rem;
}

h3 {
  font-family: var(--ff-h);
  font-size: var(--fs-h3);
  margin: 3rem 0 .75rem;
}
h4 {
  font-family: var(--ff-h);
  font-size: var(--fs-h4);
}
p {
  font-family: var(--ff-p);
  font-size: var(--fs-p);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/*  LINKS  */

a:link,
a:visited {
  font-size: $fs-p;
  text-decoration: none;
  color: $clr-text;
}
a:hover {
  @include transition($property: text-shadow, $duration: 150ms);
}

/* SPECIAL */

blockquote {
  font-size: $fs-p;
  font-style: italic;
}
.display {
  font-size: $fs-display;
  line-height: 1;
}
.small {
  font-size: $fs-s;
}


/* ANIMATIONS */
@keyframes h1-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes h2-slide {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}