/* T Y P O G R A P H Y */

// SASS VARIABLES
// font family
$ff-p: var(--ff-p);
$ff-display: var(--ff-display);
$ff-h: var(--ff-h);

// font size
$fs-s: var(--fs-s);
$fs-p: var(--fs-p);
$fs-display: var(--fs-display);
$fs-h1: var(--fs-h1);
$fs-h2: var(--fs-h2);
$fs-h3: var(--fs-h3);
$fs-h4: var(--fs-h4);

/*--------------------------------------------------------------*/

/*  GENERAL TEXT SETUP  */
html {
  font-family: $ff-p;
  font-size: 1rem;
  font-display: swap;
  text-rendering: optimizeSpeed;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: var(--ff-h);
  text-transform: uppercase;
}

h1,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--fs-h1);
  letter-spacing: 0.1rem;
}
h2 {
  font-size: var(--fs-h2);
  margin-bottom: 2rem;
  // text-align: center;
}
h3 {
  font-family: var(--ff-h);
  font-size: var(--fs-h3);
}
h4 {
  font-family: var(--ff-h);
  font-size: var(--fs-h4);
}
p {
  font-family: var(--ff-p);
  font-size: var(--fs-p);
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/*  LINKS  */

a:link,
a:visited {
  font-size: $fs-p;
  text-decoration: none;
  color: $clr-text;
}

/* SPECIAL */

blockquote {
  font-size: $fs-p;
  font-style: italic;
}
.display {
  font-size: $fs-display;
  line-height: 1;
}
.small {
  font-size: $fs-s;
}
