/* GLOBAL RESET */
html,
body,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* C O L O R S */
:root {
  --clr-prime: #06396d;
  --clr-second: #4f3af4;
  --clr-third: rgb(4, 47, 90);
  --clr-contrast: #8042fe;
  --clr-text: #fff;
  --clr-white: #fff;
  --clr-light: #f2f2f2;
  --clr-dark: #1d1d1d;
  --clr-black: #000;
  --clr-cta-1: rgb(2, 30, 58);
  --clr-cta-2: skyblue;
}

/* M E D I A    Q U E R I E S  */
/*
WIDTH SIZE:             MEDIA QUERY FOR:                ARGUMENT: 
---------------         ------------------------        ----------
< 700px (43.75em)       small devices                   default
> 700px (43.75em)       tablet                          mq-t  
> 900px (56.25em)       laptop                          mq-lt
> 1050px (65.625em)     desktop                         mq-dt
> 20000px (125em)       extra large                     mq-xl
*/
/*  M Q   M I X I N  */
/*  M I X I N S  */
/* FONTS */
@font-face {
  font-family: cera;
  src: local("cera"), local("cera"), url(../fonts/cerabasic-regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: cerabold;
  src: local("cerabold"), local("cerabold"), url(../fonts/cerabasic-bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: cerablack;
  src: local("cerablack"), local("cerablack"), url(../fonts/cerabasic-black.woff2) format("woff2");
  font-display: swap;
}
:root {
  --ff-p: cera, arial, sans-serif;
  --ff-display: cerablack, arial, sans-serif;
  --ff-h: cerabold, arial, sans-serif;
  --fs-s: min(max(1rem, 3vw), 1.2rem);
  --fs-p: 1.5rem;
  --fs-display: min(max(3.2rem, 10vw), 5rem);
  --fs-h1: min(max(3rem, 7.5vw), 4.5rem);
  --fs-h2: min(max(1.8rem, 4.5vw), 2.8rem);
  --fs-h3: min(max(1.5rem, 3vw), 2rem);
  --fs-h4: min(max(1.2rem, 2vw), 1.5rem);
}

/* T Y P O G R A P H Y */
/*--------------------------------------------------------------*/
/*  GENERAL TEXT SETUP  */
html {
  font-family: var(--ff-p), sans-serif;
  font-size: 1rem;
  text-rendering: optimizeSpeed;
  color: #fff;
}

.display {
  display: block;
  margin: 0 0 1rem;
}

h1,
h2,
h3 {
  font-family: var(--ff-h);
  text-transform: uppercase;
}

h4 {
  margin-bottom: 1rem;
}

h1 {
  position: relative;
  font-size: var(--fs-h1);
  letter-spacing: 0.1rem;
  -webkit-animation: h1-slide 750ms ease;
          animation: h1-slide 750ms ease;
}

h1::after {
  content: attr(data-name);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--fs-h1);
  letter-spacing: 0.1rem;
  background: linear-gradient(75deg, white, white);
  background-size: 15% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  background-position-x: -120%;
  filter: blur(0.5rem);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shineit 2500ms 450ms ease;
          animation: shineit 2500ms 450ms ease;
}

@-webkit-keyframes shineit {
  0% {
    background-position-x: -120%;
  }
  100% {
    background-position-x: 200%;
  }
}

@keyframes shineit {
  0% {
    background-position-x: -120%;
  }
  100% {
    background-position-x: 200%;
  }
}
h2 {
  font-size: var(--fs-h2);
  margin-bottom: 2rem;
}

h3 {
  font-family: var(--ff-h);
  font-size: var(--fs-h3);
  margin: 3rem 0 0.75rem;
}

h4 {
  font-family: var(--ff-h);
  font-size: var(--fs-h4);
}

p {
  font-family: var(--ff-p);
  font-size: var(--fs-p);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/*  LINKS  */
a:link,
a:visited {
  font-size: var(--fs-p);
  text-decoration: none;
  color: var(--clr-white);
}

a:hover {
  transition-property: text-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}

/* SPECIAL */
blockquote {
  font-size: var(--fs-p);
  font-style: italic;
}

.display {
  font-size: var(--fs-display);
  line-height: 1;
}

.small {
  font-size: var(--fs-s);
}

/* ANIMATIONS */
@-webkit-keyframes h1-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes h1-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes h2-slide {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes h2-slide {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
:root {
  --button-size: 3.5rem;
  --button-radius: .5rem;
  --button-position: 1.5rem;
}
@media (min-width: 43.75em) {
  :root {
    --button-size: 5.5rem;
    --button-position: 2.5rem;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  :root {
    --button-size: 4rem;
    --button-position: 3.5rem;
  }
}

.button__regular, .button__totop--slider, .button__submit {
  display: block;
  width: 100%;
  height: var(--button-size);
  margin: 4vh auto 0;
  padding: 0rem 2rem;
  font-family: var(--ff-h);
  font-size: var(--fs-p);
  color: var(--clr-white);
  background-color: var(--clr-contrast);
  border: 2px solid #976eeb;
  border-radius: var(--button-radius);
  transition: background-color 100ms ease-in-out, border 200ms ease-in-out, box-shadow 200ms ease-in-out;
  -webkit-animation: button-slide 750ms ease;
          animation: button-slide 750ms ease;
}
.button__regular h2, .button__totop--slider h2, .button__submit h2 {
  margin: 0;
  font-size: var(--fs-p);
  text-transform: none;
}
@media (min-width: 43.75em) {
  .button__regular, .button__totop--slider, .button__submit {
    width: auto;
    margin: 4rem auto 0;
    padding: 0rem 3rem;
    font-family: var(--ff-h);
    font-size: calc(var(--fs-p) + 0.5rem);
  }
  .button__regular h2, .button__totop--slider h2, .button__submit h2 {
    font-size: calc(var(--fs-p) + 0.5rem);
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .button__regular, .button__totop--slider, .button__submit {
    margin: 2rem 0;
    font-size: var(--fs-p);
  }
  .button__regular:hover, .button__totop--slider:hover, .button__submit:hover, .button__regular:focus, .button__totop--slider:focus, .button__submit:focus {
    cursor: pointer;
    background-color: transparent;
    outline: 4px solid var(--clr-contrast);
    box-shadow: 0 0 15px 10px var(--clr-contrast);
  }
  .button__regular:active, .button__totop--slider:active, .button__submit:active {
    background-color: var(--clr-contrast);
  }
}

.button__submit {
  margin: 0 auto 1rem;
}
.button__submit:disabled {
  pointer-events: none;
  background-color: transparent;
  color: #c2c2c2;
  border: 0.1rem solid grey;
}
@media (min-width: 43.75em) {
  .button__submit {
    margin: 1rem 0;
  }
}

@media (min-width: 43.75em) {
  .button__regular--setwidth {
    width: 20rem;
    padding: 0;
  }
}

.button__totop--slider {
  position: fixed;
  bottom: var(--button-position);
  right: var(--button-position);
  width: var(--button-size);
  height: var(--button-size);
  padding: 0;
  z-index: 89;
}
.button__totop--slider::after {
  content: "";
  position: absolute;
  bottom: 0.6rem;
  left: 25%;
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0 0 0.3rem 0.3rem;
  transform: rotate(-135deg);
  border-right: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
}
@media (min-width: 43.75em) {
  .button__totop--slider::after {
    bottom: 1.2rem;
    left: 28%;
    width: 1.7rem;
    height: 1.7rem;
    margin: 0 0 0.3rem 0.3rem;
    border-right: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .button__totop--slider {
    bottom: 0;
    right: 0.9rem;
    width: 4rem;
    height: 4rem;
    padding: 0;
  }
  .button__totop--slider:hover {
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
  }
  .button__totop--slider:active {
    background-color: var(--clr-contrast);
  }
  .button__totop--slider::after {
    bottom: 0.5rem;
    left: 24%;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 0.3rem 0.3rem;
    border-right: 0.3rem solid white;
    border-bottom: 0.3rem solid white;
  }
}

@-webkit-keyframes button-slide {
  0% {
    transform: translateY(250%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes button-slide {
  0% {
    transform: translateY(250%);
  }
  100% {
    transform: translateY(0%);
  }
}
[data-tooltip] {
  display: none;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  [data-tooltip] {
    display: block;
    cursor: pointer;
    position: relative;
  }
}

[data-tooltip]::after {
  display: none;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  [data-tooltip]::after {
    display: block;
    background-color: var(--clr-contrast);
    color: var(--clr-white);
    font-size: calc(var(--fs-h2) - var(--fs-p));
    padding: 0.6rem 1.2rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 0.5rem;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    content: attr(data-tooltip);
    transform: translate(-50%, 110%) scale(0);
    transform-origin: top;
    transition: 200ms;
    box-shadow: 0 0.3rem 0.9rem 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
  }
}

[data-tooltip]:hover:after,
[data-tooltip]:focus:after {
  display: none;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  [data-tooltip]:hover:after,
[data-tooltip]:focus:after {
    display: block;
    transform: translate(-50%, 140%) scale(1);
  }
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 3rem;
}
@media (min-width: 43.75em) {
  .socialmedia {
    gap: 3rem 4.5rem;
    justify-content: flex-start;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .socialmedia {
    margin-bottom: 4rem;
  }
}

.socialmedia__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socialmedia__link .socialmedia__icon {
  width: var(--button-size);
  height: var(--button-size);
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .socialmedia__link {
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  }
  .socialmedia__link:hover, .socialmedia__link:focus {
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
    transform: translate(-5%, -10%) scale(1.1);
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem 2rem 0.05rem rgba(8, 7, 8, 0.438);
    outline: none;
  }
  .socialmedia__link p {
    display: none;
  }
}

body::-webkit-scrollbar {
  width: 1.5rem;
  background-color: var(--clr-prime);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-contrast);
}

.arrows__direction {
  display: block;
  margin: 0 auto;
  width: 1.5rem;
  height: 3.5rem;
  opacity: 1;
  -webkit-animation: arrows 1600ms linear;
          animation: arrows 1600ms linear;
}
@media (min-width: 43.75em) {
  .arrows__direction {
    width: 4.3rem;
    height: 10rem;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .arrows__direction {
    display: none;
  }
}

@-webkit-keyframes arrows {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrows {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.arrows__down {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0 auto 0.3rem;
  transform: rotate(45deg);
  border-right: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
}
@media (min-width: 43.75em) {
  .arrows__down {
    width: 2rem;
    height: 2rem;
  }
}

.arrow__one {
  margin-top: 0.1rem;
}

.arrow__one,
.arrow__two,
.arrow__three {
  -webkit-animation: arrow-animation 0.75s infinite;
  animation: arrow-animation 0.75s infinite;
}

.arrow__one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
          animation-delay: alternate;
}

.arrow__two {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -0.45rem;
}

.arrow__three {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -0.45rem;
}

@-webkit-keyframes arrow-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* CONTACT FORM */
.form__container {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 43.75em) {
  .form__container {
    margin: 2.5rem 0;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .form__container {
    margin: 1rem 0;
  }
}

.form__form {
  width: 100%;
  font-size: var(--fs-s);
}
@media (min-width: 43.75em) {
  .form__form {
    font-size: var(--fs-p);
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .form__form {
    font-size: var(--fs-s);
  }
}

.form__section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1.5rem;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .form__section {
    margin-bottom: 0;
  }
}

.form__label {
  margin-bottom: 0.25rem;
  font-family: var(--ff-h);
}
.form__label .form__label--info {
  font-family: var(--ff-p);
}

.form__input,
.form__textarea {
  width: 100%;
}
@media (min-width: 43.75em) {
  .form__input,
.form__textarea {
    width: 85%;
  }
}

.form__input {
  height: 3rem;
  padding: 0 1rem;
}
@media (min-width: 43.75em) {
  .form__input {
    height: 4rem;
    margin-bottom: 2.5rem;
  }
}

.form__textarea {
  padding: 1rem 1rem;
  border: none;
  outline: none;
}

.form__label--privacy {
  cursor: pointer;
  margin-bottom: 1rem;
}

.form__checkbox {
  margin: 0 0 1rem 0;
  accent-color: var(--clr-contrast);
}
@media (min-width: 43.75em) {
  .form__checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1.5rem 1rem 1.5rem 0;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .form__checkbox {
    width: 1rem;
    height: 1rem;
    margin: 2.5rem 1rem 0rem 0;
    cursor: pointer;
  }
}

.menu__switch {
  display: none;
}

.brand {
  position: absolute;
  top: var(--button-position);
  left: var(--button-position);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.brand .brand__img {
  width: var(--button-size);
  height: var(--button-size);
}
.brand .brand__name {
  margin: 0;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .brand {
    position: relative;
    top: 0;
    left: 0;
    gap: 1.5rem;
    padding: 1rem 0;
  }
  .brand .brand__img {
    width: 4rem;
    height: 4rem;
  }
  .brand .brand__name {
    position: relative;
    display: block;
    padding: 0.1rem 0;
    margin: 0;
    overflow: hidden;
  }
}

.menu__button {
  position: fixed;
  top: var(--button-position);
  right: var(--button-position);
  width: var(--button-size);
  height: var(--button-size);
  background: var(--clr-prime) linear-gradient(to right top, #8042fe, #4f3af4);
  border-radius: var(--button-radius);
  z-index: 99;
}
.menu__button .menu__button--line1,
.menu__button .menu__button--line2,
.menu__button .menu__button--line3 {
  position: relative;
  top: 1rem;
  left: 0.7rem;
  width: 58%;
  height: 3px;
  background-color: var(--clr-white);
  transition-property: all;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}
.menu__button .menu__button--line2 {
  top: 1.5rem;
}
.menu__button .menu__button--line3 {
  top: 2rem;
}
@media (min-width: 43.75em) {
  .menu__button .menu__button--line1,
.menu__button .menu__button--line2,
.menu__button .menu__button--line3 {
    position: relative;
    top: 1.5rem;
    left: 0.9rem;
    width: 65%;
    height: 5px;
  }
  .menu__button .menu__button--line2 {
    top: 2.25rem;
  }
  .menu__button .menu__button--line3 {
    top: 3rem;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .menu__button {
    display: none;
  }
}

.menu__container {
  position: relative;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .menu__container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 90;
  }
}

.menu__bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  background-color: #8042fe;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
  z-index: 95;
}
.menu__bar .menu__bar--list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}
.menu__bar .menu__bar--item {
  width: 100%;
}
.menu__bar .menu__bar--link {
  display: block;
  padding: 1rem;
  font-family: var(--ff-h);
  font-size: 3.5rem;
  text-align: center;
}
@media (min-width: 43.75em) {
  .menu__bar .menu__bar--link {
    font-size: 6rem;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .menu__bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 3rem;
    padding: 0;
    transform: translate(0);
    background-color: transparent;
  }
  .menu__bar .menu__bar--list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .menu__bar .menu__bar--list .menu__bar--item {
    width: auto;
  }
  .menu__bar .menu__bar--link {
    position: relative;
    width: 100%;
    padding: 0.2rem 0;
    font-family: cera;
    font-size: var(--fs-p);
    overflow: hidden;
  }
}

.menu__bar--line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 0.1rem;
  background-color: var(--clr-white);
  transform: translateX(-110%);
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .menu__bar--line {
    display: block;
  }
}

.brand:hover .menu__bar--line {
  transform: translateX(0);
}

.menu__bar--link:hover,
.menu__bar--link:focus {
  outline: none;
}

.menu__bar--link:hover .menu__bar--line,
.menu__bar--link:focus .menu__bar--line {
  transform: translateX(0);
}

.menu__switch:checked ~ .menu__container .menu__bar {
  transform: translateX(0);
}

.menu__switch:checked + label .menu__button .menu__button--line1 {
  transform: rotate(315deg) translate(-20%, 300%);
}
.menu__switch:checked + label .menu__button .menu__button--line2 {
  transform: translateX(300%);
}
.menu__switch:checked + label .menu__button .menu__button--line3 {
  transform: rotate(-315deg) translate(-20%, -300%);
}
@media (min-width: 43.75em) {
  .menu__switch:checked + label .menu__button .menu__button--line1 {
    transform: rotate(315deg) translate(-15%, 300%);
  }
  .menu__switch:checked + label .menu__button .menu__button--line3 {
    transform: rotate(-315deg) translate(-15%, -300%);
  }
}

.menu__link--active .menu__bar--line {
  transform: translateX(0);
}

html {
  scroll-behavior: smooth;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  html {
    scroll-padding: 8rem 0 0 0;
  }
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: darkblue url("../../../public/img/TB_bg.svg") no-repeat fixed center/cover;
  overflow-x: hidden;
}

header {
  position: absolute;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  header {
    position: fixed;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 2000px;
    height: 8rem;
    padding: 0 min(max(6rem, 10%), 12rem);
    background: darkblue url("../../../public/img/TB_bg.svg") top/cover;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.116);
    transform: translateX(-50%);
    z-index: 90;
  }
}

main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-animation: fade-in 500ms ease-in;
          animation: fade-in 500ms ease-in;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  main {
    display: grid;
    grid-template-columns: 35% 65%;
    max-width: 2000px;
    padding-top: 8rem;
    padding-left: 0 min(max(6rem, 10%), 12rem);
  }
}

.page__info {
  width: 100%;
  min-height: 100vh;
  padding: 6rem var(--button-position) 0;
}
.page__info .keep__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 6rem - 8vh);
}
@media (min-width: 43.75em) {
  .page__info {
    padding: 10rem calc(var(--button-position) * 2);
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .page__info {
    grid-column: 1/2;
    width: auto;
    height: calc(100vh - 8rem);
    padding: 2rem 0 0 calc(var(--button-position) * 3);
  }
  .page__info .keep__info {
    justify-content: center;
    position: fixed;
    width: 25%;
    max-width: 500px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
@media (min-width: 43.75em) {
  .page__content {
    padding: 2.3rem calc(var(--button-position) * 1.5);
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .page__content {
    grid-column: 2/3;
    min-height: calc(100vh - 8rem);
    padding: 2.3rem calc(var(--button-position) * 2);
  }
}

.page__info--h2 {
  margin-top: 1rem;
}

.page__info--h3 {
  margin-top: 4rem;
}

.button__container {
  width: 100%;
  margin: 0 0 5vh;
}
@media (min-width: 43.75em) {
  .button__container {
    margin: 0;
  }
}
.button__container--box {
  overflow: hidden;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .button__container--box {
    transform: translateX(-1rem);
    padding: 0 1rem;
  }
}

.anima__box--h1 {
  position: relative;
  overflow: hidden;
}

.content__article {
  width: 100%;
  margin-bottom: 3rem;
  padding: 2.3rem var(--button-position);
  background: rgba(7, 8, 8, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.8px);
  -webkit-backdrop-filter: blur(17.8px);
  overflow: hidden;
}
@media (min-width: 43.75em) {
  .content__article {
    padding: 4rem var(--button-position) 2rem;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .content__article {
    padding: 4rem var(--button-position) 2rem;
  }
}

details {
  margin: 2rem 0;
  background-color: var(--clr-prime);
  border: 0.2rem solid var(--clr-second);
}
details summary {
  padding: 1rem;
  background-color: var(--clr-second);
}

.list__standard {
  margin-bottom: 2rem;
  padding: 0 1rem;
  font-size: var(--fs-p);
  line-height: 1.5;
}

.tool__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  height: calc(var(--button-size) + 3.5rem);
}
.tool__container .tool__container--logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.tool__container .logo__icon {
  width: var(--button-size);
}
@media (min-width: 43.75em) {
  .tool__container {
    justify-content: flex-start;
    margin: 2.5rem 0 5rem;
  }
  .tool__container .logo__icon {
    width: calc(var(--button-size) - 1rem);
  }
}

.page__info--frontpage .page__info--h1 {
  font-size: var(--fs-h4);
}
@media (min-width: 43.75em) {
  .page__info--frontpage .page__info--h1 {
    font-size: var(--fs-h2);
    text-align: left;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .page__info--frontpage {
    min-height: auto;
  }
  .page__info--frontpage .page__info--h1 {
    font-size: var(--fs-h4);
  }
  .page__info--frontpage .button__regular--frontpage {
    margin: 6rem 0;
  }
}

@media (min-width: 56.25em) and (orientation: landscape) {
  .page__content--frontpage {
    padding: 0 calc(var(--button-position) * 3.4) 0 var(--button-position);
  }
}

.content__article--frontpage {
  background-color: transparent;
  box-shadow: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .content__article--frontpage {
    padding: 0 0 0 10rem;
  }
}

.frontpage__h2--box {
  overflow: hidden;
}
.frontpage__h2--box .frontpage__h2--text {
  font-size: var(--fs-h3);
  -webkit-animation: h2-slide 750ms ease;
          animation: h2-slide 750ms ease;
}

.frontpage__text--frage {
  position: relative;
  left: 0;
  margin: 2rem 0 4rem;
  border-color: var(--clr-cta-2);
  border-left-style: solid;
  border-width: 0.5rem;
  overflow: hidden;
  transform: scaleY(0);
  -webkit-animation: openframe 650ms ease forwards;
          animation: openframe 650ms ease forwards;
}

.frontpage__text--frage p {
  margin: 0;
  padding: 0 1.2rem;
  font-family: var(--ff-h);
  transform: translateX(-101%);
  -webkit-animation: movetext 500ms 1000ms forwards;
          animation: movetext 500ms 1000ms forwards;
}

@-webkit-keyframes movetext {
  0% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes movetext {
  0% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes openframe {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes openframe {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.project__logo--box {
  width: 85%;
  aspect-ratio: 16/9;
  margin: 0 auto 2rem;
}

.project__logo--img {
  width: 100%;
}

.project__link--explain {
  text-align: center;
  margin: 0;
}

.project__link {
  display: block;
  margin: 0 0 5rem;
  font-size: var(--fs-h3) !important;
  text-decoration: underline !important;
  text-underline-offset: 0.3rem;
  text-align: center;
}
.project__link:hover {
  text-shadow: 1px 1px 1px white;
}

.project__image {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
}

.vision__tim--box {
  width: 100%;
  margin: 1.5rem 0 2.5rem;
}
@media (min-width: 43.75em) {
  .vision__tim--box {
    aspect-ratio: 10/3.4;
    margin: 2.4rem 0 5rem;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .vision__tim--box {
    margin: 0 0 3rem;
  }
}

.vision__tim--img {
  position: relative;
  left: -1.5rem;
  height: 10rem;
}
@media (min-width: 43.75em) {
  .vision__tim--img {
    width: 100%;
    left: 0;
    height: auto;
  }
}

@media (min-width: 43.75em) {
  .content__section--books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .content__section--books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
}

.book__box {
  width: 100%;
  margin: 3rem 0;
}
.book__box .book__title h3 {
  margin-bottom: 0.2rem;
}
.book__box h4 {
  margin-bottom: 1.2rem;
}
@media (min-width: 43.75em) {
  .book__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .book__box .book__title h3 {
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .book__box {
    margin: 0 0;
    width: 45%;
  }
}

.book__cover--box {
  width: 65%;
  aspect-ratio: 9/12;
}
@media (min-width: 43.75em) {
  .book__cover--box {
    width: 100%;
  }
}

.book__cover--img {
  width: 100%;
}

.page__info--contact {
  padding-top: 0.5rem;
}
.page__info--contact .keep__info {
  justify-content: flex-start;
  height: auto;
}
.page__info--contact h1 {
  margin: 1rem 0;
  text-align: left;
}
@media (min-width: 43.75em) {
  .page__info--contact {
    padding-top: 2rem;
  }
}

@media (min-width: 56.25em) and (orientation: landscape) {
  .page__content--contact {
    padding-left: 2rem;
  }
}

.contact__impressum--address {
  width: 17rem;
  margin-bottom: 1rem;
}
@media (min-width: 43.75em) {
  .contact__impressum--address {
    width: 20rem;
    margin-bottom: 2rem;
  }
}

.content__article--privacy p,
.content__article--privacy a,
.content__article--privacy h4 {
  margin-top: 1rem;
  font-size: var(--fs-s);
}
.content__article--privacy a {
  font-size: 0.8rem;
}
@media (min-width: 56.25em) and (orientation: landscape) {
  .content__article--privacy a {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=main.css.map */