/* GLOBAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* C O L O R S */
:root {
  --clr-prime: #06396d;
  --clr-second: #4f3af4;
  --clr-contrast: #8042fe;
  --clr-text: #fff;
  --clr-white: #fff;
  --clr-light: #f2f2f2;
  --clr-dark: #1d1d1d;
  --clr-black: #000;
}

/* M E D I A    Q U E R I E S  */
/*
WIDTH SIZE:             MEDIA QUERY FOR:                ARGUMENT: 
---------------         ------------------------        ----------
< 700px (43.75em)       small devices                   default
> 700px (43.75em)       tablet                          mq-t  
> 900px (56.25em)       laptop                          mq-lt
> 1050px (65.625em)     desktop                         mq-dt
> 20000px (125em)         extra large                     mq-xl
*/
/*  M Q   M I X I N  */
/*  M I X I N S  */
/* FONTS */
@font-face {
  font-family: cera;
  src: local("cera"), local("cera"), url(../fonts/cerabasic-regular.woff2) format("woff2");
}
@font-face {
  font-family: cerabold;
  src: local("cerabold"), local("cerabold"), url(../fonts/cerabasic-bold.woff2) format("woff2");
}
@font-face {
  font-family: cerablack;
  src: local("cerablack"), local("cerablack"), url(../fonts/cerabasic-black.woff2) format("woff2");
}
:root {
  --ff-p: cera, arial, sans-serif;
  --ff-display: cerablack, arial, sans-serif;
  --ff-h: cerabold, arial, sans-serif;
  --fs-p: 1.5rem;
  --fs-display: min(max(3rem, 10vw), 4rem);
  --fs-h1: min(max(2.5rem, 8vw), 5rem);
  --fs-h2: min(max(2rem, 6vw), 3.875rem);
  --fs-h3: min(max(1.5rem, 4vw), 2rem);
}

/* T Y P O G R A P H Y */
/*--------------------------------------------------------------*/
/*  GENERAL TEXT SETUP  */
html {
  font-family: var(--ff-p);
  font-size: 1rem;
  font-display: swap;
  text-rendering: optimizeSpeed;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: var(--ff-h);
  text-transform: uppercase;
}

h1 {
  font-size: var(--fs-h1);
  letter-spacing: 0.1rem;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

p {
  font-family: var(--ff-p);
  font-size: var(--fs-p);
}

/*  LINKS  */
a:link,
a:visited {
  font-size: var(--fs-p);
  text-decoration: none;
  color: var(--clr-white);
}

a:hover {
  font-weight: 900;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: darkblue url("../../../public/img/TB_bg.svg") center/cover no-repeat;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 2rem;
  place-items: center;
  position: relative;
  width: 100vw;
}
@media (min-width: 43.75em) {
  main {
    padding: 0 3rem;
  }
}
@media (min-width: 56.25em) {
  main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    padding: 2rem;
    margin-top: 0;
    padding: 0 6rem;
  }
}

.menu__switch {
  display: none;
}

.nav__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 0;
  z-index: 90;
}
@media (min-width: 56.25em) {
  .nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 0 8rem 0;
  }
}

.brand {
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
  width: 75%;
}
.brand .brand__img {
  width: 4rem;
  height: 4rem;
}
.brand .brand__name {
  display: none;
}
@media (min-width: 43.75em) {
  .brand {
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .brand .brand__img {
    width: 6em;
    height: 6rem;
  }
  .brand .brand__name {
    display: block;
    font-size: 2.5rem;
  }
}
@media (min-width: 56.25em) {
  .brand {
    top: 2rem;
    left: 6rem;
    gap: 1.5rem;
    width: 100%;
  }
  .brand .brand__img {
    width: 4rem;
    height: 4rem;
  }
  .brand .brand__name {
    font-size: var(--fs-p);
    position: relative;
  }
}

.menu__button {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background: linear-gradient(to right top, #8042fe, #4f3af4);
  border-radius: 0.6rem;
  z-index: 99;
}
.menu__button .menu__button--line1,
.menu__button .menu__button--line2,
.menu__button .menu__button--line3 {
  position: relative;
  top: 1rem;
  left: 0.7rem;
  width: 58%;
  height: 3px;
  background-color: var(--clr-white);
  transition-property: all;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}
.menu__button .menu__button--line2 {
  top: 1.5rem;
}
.menu__button .menu__button--line3 {
  top: 2rem;
}
@media (min-width: 43.75em) {
  .menu__button {
    top: 2.5rem;
    right: 2.5rem;
    width: 5.5rem;
    height: 5.5rem;
  }
  .menu__button .menu__button--line1,
.menu__button .menu__button--line2,
.menu__button .menu__button--line3 {
    position: relative;
    top: 1.5rem;
    left: 0.9rem;
    width: 65%;
    height: 5px;
  }
  .menu__button .menu__button--line2 {
    top: 2.25rem;
  }
  .menu__button .menu__button--line3 {
    top: 3rem;
  }
}
@media (min-width: 56.25em) {
  .menu__button {
    display: none;
  }
}

.menu__container {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
  z-index: 90;
}
@media (min-width: 56.25em) {
  .menu__container {
    position: relative;
    transform: translateX(0);
    width: auto;
    height: 100%;
  }
}

.menu__bar {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
  background-color: #8042fe;
  z-index: 95;
}
.menu__bar .menu__bar--list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu__bar .menu__bar--item {
  width: 100%;
}
.menu__bar .menu__bar--link {
  display: block;
  padding: 1rem;
  font-family: cerabold;
  font-size: 3.5rem;
  text-align: center;
}
@media (min-width: 43.75em) {
  .menu__bar .menu__bar--link {
    font-size: 6rem;
  }
}
@media (min-width: 56.25em) {
  .menu__bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0;
    transform: translate(0);
    background-color: transparent;
  }
  .menu__bar .menu__bar--list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .menu__bar .menu__bar--list .menu__bar--item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .menu__bar .menu__bar--list .menu__bar--link {
    position: relative;
    padding: 0;
    margin-left: 2rem;
    font-family: cera;
    font-size: var(--fs-p);
    overflow: hidden;
  }
}

.menu__bar--line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 0.1rem;
  background-color: var(--clr-white);
  transform: translateX(-110%);
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}
@media (min-width: 56.25em) {
  .menu__bar--line {
    display: block;
  }
}

.menu__bar--link:hover .menu__bar--line {
  transform: translateX(0);
}

.menu__switch:checked + .nav__container .menu__container {
  transform: translateX(0);
}

.menu__switch:checked + .nav__container .menu__button .menu__button--line1 {
  transform: rotate(315deg) translate(-20%, 300%);
}
.menu__switch:checked + .nav__container .menu__button .menu__button--line2 {
  transform: translateX(300%);
}
.menu__switch:checked + .nav__container .menu__button .menu__button--line3 {
  transform: rotate(-315deg) translate(-20%, -300%);
}
@media (min-width: 43.75em) {
  .menu__switch:checked + .nav__container .menu__button .menu__button--line1 {
    transform: rotate(315deg) translate(-15%, 300%);
  }
  .menu__switch:checked + .nav__container .menu__button .menu__button--line3 {
    transform: rotate(-315deg) translate(-15%, -300%);
  }
}

.frontpage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 43.75em) {
  .frontpage {
    padding-top: 10rem;
  }
}
@media (min-width: 56.25em) {
  .frontpage {
    padding-top: 15rem;
  }
}

.page__info--h1 {
  margin-top: 0.8rem;
}

.page__info--h2 {
  font-size: var(--fs-h3);
}
@media (min-width: 43.75em) {
  .page__info--h2 {
    display: none;
  }
}

.page__info--p {
  margin-top: 2rem;
}

.page__content {
  display: none;
}
.page__content img {
  display: none;
}

.page__content img {
  display: none;
}
@media (min-width: 56.25em) {
  .page__content img {
    width: 30rem;
  }
}

.button__regular {
  width: 12rem;
  height: 4rem;
  margin: 3rem auto;
  font-family: var(--ff-h);
  font-size: var(--fs-p);
  color: var(--clr-white);
  background: linear-gradient(to right top, #8042fe, #4f3af4);
  border: none;
  border-radius: 0.625rem;
}
@media (min-width: 43.75em) {
  .button__regular {
    width: 14rem;
    height: 5rem;
    margin: 6rem auto;
  }
}
@media (min-width: 56.25em) {
  .button__regular {
    width: 12rem;
    height: 4rem;
    margin: 6rem 0;
  }
  .button__regular:hover {
    cursor: pointer;
    background: transparent;
    border: 5px solid var(--clr-contrast);
  }
}/*# sourceMappingURL=main.css.map */